APP_USERNAME=admin
# Mit `docker run --rm -it ruepp/adguard-cert-setter:local node dist/server/cli.js hash-password` erzeugen.
# In dieser Datei ist bei Docker Compose keine zusätzliche Dollar-Zeichen-Escapierung nötig.
APP_PASSWORD_HASH=$argon2id$v=19$m=19456,t=2,p=1$HASH_HIER_EINTRAGEN
APP_PORT=3000
APP_COOKIE_SECURE=false
